@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset CSS e Variáveis Globais */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* * (Universal Selector): Aplica estilos a todos os elementos na página.
margin: 0;: Remove todas as margens padrão.
padding: 0;: Remove o preenchimento padrão.
text-decoration: none;: Remove a decoração de texto padrão (ex: sublinhado em links).
font-family: Arial, Helvetica, sans-serif;: Define Arial como a fonte principal, com Helvetica como alternativa e, se não disponíveis, uma fonte genérica sans-serif. */

:root {
    --purple-200: #9a7bd1;
    --purple-500: #6b36c8;
    --purple-800: #441f88;

    --black-800: #171717;

    --gray-200: #cccccc;
    --gray-400: #505861;

    --white: #ffffff;
}

/* :root: Utilizado para declarar variáveis CSS globais, que podem ser reutilizadas.
--purple-200, --purple-500, --purple-800: Diferentes tonalidades de roxo.
--black-800: Preto escuro.
--gray-200, --gray-400: Tons de cinza.
--white: Branco puro.
2. Estilos Globais */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--gray-200);
    color: var(--black-800);
}

/* html:
scroll-behavior: smooth;: Faz com que a rolagem entre seções seja suave.

body:
background-color: var(--gray-200);: Define um fundo cinza claro.
color: var(--black-800);: Define a cor do texto como preto escuro.
3. Botões e Flexbox
 */

.botao {
    padding: 12px 32px;
    border: 1px solid var(--purple-800);
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
}

.botao:hover {
    color: var(--gray-200);
    background-color: var(--purple-800);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .botao:
padding: 12px 32px;: Espaçamento interno do botão.
border: 1px solid var(--purple-800);: Define uma borda roxa escura.
border-radius: 10px;: Arredonda os cantos do botão.
text-align: center;: Centraliza o texto no botão.
font-weight: 700;: Define o texto em negrito.

.botao:hover:
color: var(--gray-200);: Muda a cor do texto para cinza claro ao passar o mouse.
background-color: var(--purple-800);: Altera o fundo para roxo escuro ao passar o mouse.

.flex:
display: flex; justify-content: center; align-items: center;: Utiliza Flexbox para centralizar os itens no contêiner.
4. Estilização do Cabeçalho (Header)
*/

.menu_container {
    background-color: var(--purple-800);
    position: sticky;
    top: 0;
    filter: opacity(0.9);
    height: 80px;
    text-transform: uppercase;
}

.menu_container a {
    font-size: 16px;
    color: var(--white);
    font-weight: bold;
}

.menu_container a:hover {
    color: var(--purple-200);
}

.menu_content {
    max-width: 1120px;
    padding: 0 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu_lista {
    list-style: none;
}

.menu_lista li {
    margin: 0 0 0 16px;
}

/*.menu_container:
background-color: var(--purple-800);: Fundo roxo escuro.
position: sticky; top: 0;: Fixa o menu no topo durante a rolagem.
filter: opacity(0.9);: Aplica uma leve transparência ao fundo.
height: 80px;: Define uma altura fixa para o menu.

.menu_container a:
font-size: 16px; color: var(--white); font-weight: bold;: Define o estilo dos links do menu.

.menu_container a:hover:
color: var(--purple-200);: Muda a cor dos links ao passar o mouse..menu_content:
max-width: 1120px; padding: 0 24px; width: 100%; display: flex; justify-content: space-between;: Estiliza o contêiner do menu, organizando o conteúdo com espaçamento adequado.

.menu_lista:
list-style: none;: Remove as marcas de lista padrão dos itens do menu.

.menu_lista li:
margin: 0 0 0 16px;: Adiciona espaçamento entre os itens do menu.



5. Estilização da Seção Home
*/
.home_container {
    max-width: 1120px;
    margin: auto;
    height: 100vh;
    display: flex;
}

.home_container p,
h1,
h4 {
    text-align: center;
}

.home_container h4 {
    font-size: 24px;
}

.home_container h1 {
    font-size: 36px;
}

.home_container p {
    margin: 16px 0;
}

.home_container .botao {
    width: 40%;
}

.home_content {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home_content img {
    width: 75%;
}

/* .home_container:
max-width: 1120px; margin: 16px; height: calc(100vh - 100px); display: flex;: Define o contêiner principal da seção Home, com espaçamento e altura relativa à tela.

h1, h4, p:
text-align: center;: Centraliza o texto dos elementos.

.home_container h1:
font-size: 36px;: Define o tamanho do título principal.

.home_container p:
margin: 16px 0;: Espaçamento entre parágrafos.

.home_container .botao:
width: 40%;: Define a largura do botão.

.home_content:
width: 50vw; display: flex; justify-content: center; align-items: center; flex-direction: column;: Organiza o conteúdo da seção Home em uma coluna centralizada.

.home_content_img:
width: 75%;: Define a largura das imagens dentro da seção.



6. Estilização da Seção Sobre
 */
.sobre_container {
    max-width: 1120px;
    margin: -24px auto;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 20px;
}

.sobre_container img {
    width: 35%;
    border: 5px solid var(--purple-500);
    border-radius: 50%;
}

.sobre_container h1 {
    font-size: 32px;
    text-align: center;
}

.sobre_container p {
    text-align: center;
    margin: 16px 0;
}

.sobre_github {
    justify-content: space-evenly;
}

#sobre_texto {
    width: 75%;
    padding: 16px;
    background-color: var(--purple-200);
    border-radius: 20px;
}

/* .sobre_container:
max-width: 1120px; margin: -24px auto; height: 100vh; display: flex; align-items: center;: Define o contêiner da seção Sobre, com altura total da tela e elementos centralizados verticalmente.

.sobre_container img:
width: 35%; border: 5px solid var(--purple-500); border-radius: 50%;: Define o estilo das imagens, incluindo borda e formato circular.

.sobre_container h1:
font-size: 32px; text-align: center;: Estilo do título da seção Sobre.

.sobre_container p:
text-align: center; margin: 16px 0;: Centraliza e adiciona espaçamento aos parágrafos.

.sobre_github:
justify-content: space-evenly;: Distribui o conteúdo de forma igual dentro do contêiner.

#sobre_texto:
margin-left: 30px;: Adiciona margem à esquerda do texto, afastando-o de outros elementos. */



/* ESTILIZAÇÃO DA SEÇÃO CONTATO */

.contato_container {
    max-width: 1120px;
    margin: auto;
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 540px);
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.contanto_content {
    gap: 30px;
    flex-direction: column;
    margin: 64px 0px 0px 0px;
    font-size: 20px;
}

h4 {
    font-size: 30px;
    font-weight: bold;
}

/* ESTILIZAÇÃO DA SEÇÃO REDES SOCIAIS */

.social_container a img {
    width: 70px;
}

.social_icon:hover {
    filter:
        brightness(0) saturate(100%) invert(28%) sepia(26%) saturate(4087%) hue-rotate(242deg) brightness(94%) contrast(103%);
}

/* ESTILIZAÇÃO DA SEÇÃO FORMULÁRIO */

form {
    background-color: var(--purple-200);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 70px 0px 0px 0px;
    padding: 24px;
}


form label {
    font-size: 16px;
    font-weight: 600;
}

form input,
textarea {
    font-weight: 300;
    margin: 8px 0 16px;
    padding: 12px;
    border-radius: 14px;
    border: none;
    font-weight: bold;
    outline: none;
}

form button {
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

footer {
    text-align: end;
    /* height: 50px; */
    margin-top: 30px;
}